@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ImperialScript";
  src: url("../public/fonts/ImperialScript-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
.font-imperialScript {
  font-family: "ImperialScript";
};